html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(30, 30, 30);
}

* {
  box-sizing: border-box;
}

@import "./basic.css";
@import "./normal.css";

:root {
  --m-big: 13rem;
  --m-small: 2rem;
  --layout: 10%;

  --h-big: clamp(4rem, 15vw, 22rem);
  --h-line-big: clamp(4rem, 15vw, 22rem);

  --h-medium: clamp(3rem, 8vw, 18rem);
  --h-line-medium: clamp(4rem, 10vw, 22rem);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
span,
h3,
a {
  color: rgb(213, 213, 213);
  font-weight: 100;
}

h1,
h2,
h4 {
  font-family: "Didot", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
  color: antiquewhite;
}

.test {
  overflow: hidden;
}

h1,
h4 {
  font-size: var(--h-big);
  line-height: var(--h-line-big);
}

h2 {
  font-size: var(--h-medium);
  line-height: var(--h-line-medium);
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 1rem var(--layout);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  font-size: clamp(0.8rem, 1.3vw, 1rem);
  font-weight: 100;
}

.navbar__links {
  display: flex;
  gap: var(--m-small);
}

.hero,
.footer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--m-big);
}

.footer {
  margin: 0;
}
